<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niu.flutter.plugin.asr">

    <!--权限配置-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <meta-data android:name="com.baidu.speech.APP_ID"
            android:value="25712403" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="4nkA4yqyZHGZIehkTnHg47Dk" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="3Sr26G8c6pa15ENOHdLhfKHRDh7TO2qt" />

<!--        <service-->
<!--            android:name="com.baidu.speech.VoiceRecognitionService"-->
<!--            android:exported="false"/>-->
    </application>
</manifest>